body {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard */
}

.maincontainer {
  height: 700px;
  width: 1020px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(86.59% 86.57% at 50.84% 26.44%, #353858 0%, #19182d 100%);
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 32px;
  border: 18px #131313 solid;
  padding: 8px 0;
  box-shadow: 0px 0px 0px 4px #4b4b4b;
 /* filter: blur(2px);  */
 display: none; 
}

.subcontainer {
  height: 80px;
  width: auto;
  border-bottom: 4px #ffffff3b solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 28px;
}

.subbosstext,
.subbosstext2 {
  display: inline-block; /* or inline */
}

.subbosstext {
  color: white;
  font-size: 30px;
}

.subnametext {
  color: white;
  font-size: 26px;
  
}

.subnametext2 {
color: rgb(194, 194, 194);
font-size: 20px;
text-align: center;
}

.buttonscontainer {
  position: relative;
  border: 4px #ffffff24 solid;
  border-top: unset;
  height: 30px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-size: 16px;
  font-weight: 600;
  background: #00000026;
  padding: 6px 16px;
  gap: 22px;
}

.container_btn {
transition: 0.3s;
}

.container_btn:hover {
  cursor: pointer;
  color: #96adff;
  transition: 0.3s;
  scale: 103%;
  text-shadow: #4d10d5 1px 0 5px;
}

.employeelistB:active,
.recruitB:active,
.bossinvB:active,
.societymoneyB:active {
  scale: 1;
  text-shadow: none;
}

.circular-progress {
  --size: 400px;
  --half-size: calc(var(--size) / 2);
  --stroke-width: 30px;
  --radius: calc((var(--size) - var(--stroke-width)) / 2);
  --circumference: calc(var(--radius) * pi * 2);
  --dash: calc((var(--progress) * var(--circumference)) / 100);
  animation: progress-animation .3s linear 0s 1 forwards;
}

.circular-progress circle {
  cx: var(--half-size);
  cy: var(--half-size);
  r: var(--radius);
  stroke-width: var(--stroke-width);
  fill: none;
  stroke-linecap: round;
}

.circular-progress circle.bg {
  stroke: #ffffff;
}

.circular-progress circle.fg {
  transform: rotate(-90deg);
  transform-origin: var(--half-size) var(--half-size);
  stroke-dasharray: var(--dash) calc(var(--circumference) - var(--dash));
  transition: stroke-dasharray 0.3s linear 0s;
  stroke: #10aad5;
}

@property --progress {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}

@keyframes progress-animation {
  from {
    --progress: 0;
  }
  to {
    --progress: 25;
  }
}

.viewcontainer {
  height: 500px;
  width: auto;
  margin-top: 30px;
  display: none;
  justify-content: center;
  align-items: center;
}

.progresstext {
  position: absolute;
  font-size: 25px;
  color: #1c9cbf;
}

.progresstext2 {
  color: white;
  text-align: center;
  font-size: 80px;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.employeelistcontainer {
  height: 530px;
  width: auto;
  margin-top: 30px;
  margin-left: 80px;
  margin-right: 80px;
  overflow: scroll;
  
}

.listTable {
  color: white;
  font-size: 20px;
  text-align: center;
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  border-spacing: 10px;
}


.HeadList {
  background: rgba(0, 0, 0, 0.5);
}

thead th {
  font-weight: bold;
  padding: 15px;
}

td img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
 vertical-align: middle;
}

.UserList {
  font-size: 20px;
  border-bottom: 1px #707070 solid;
  transition: 0.3s;
}

.listTable td {
  padding: 10px 6px;
  border-bottom: unset;
  text-align: left;
  border-bottom: 2px solid rgba(142, 139, 139, 0.5);
}

.promoteB {
  text-shadow: #000000 1px 0 10px;
}

.promoteB:hover {
  cursor: pointer;
  color: #00eaff;
  transition: all 200ms ease-in-out;
  scale: 1.01;
  text-shadow: #00eaff 1px 0 10px;
}

.promoteB:active {
  scale: 1;
  text-shadow: none;
}

.fireB {
  text-shadow: #000000 1px 0 10px;
}

.fireB:hover {
  cursor: pointer;
  color: #ff0000;
  transition: all 200ms ease-in-out;
  scale: 1.01;
  text-shadow: #ff0000 1px 0 10px;
}

.fireB:active {
  scale: 1;
  text-shadow: none;
}

.StatusOnline {
  font-size: 14px;
  color: rgb(0, 217, 0);
  text-shadow: rgb(0, 217, 0) 1px 0 6px;
}

.StatusOffline {
  font-size: 14px;
  color: red;
  text-shadow: red 1px 0 6px;
}

.UserList:hover {
  transition: 0.3s;
  background: #ffffff1a;
}







.hirelistcontainer {
  height: 530px;
  width: auto;
  margin-top: 30px;
  margin-left: 80px;
  margin-right: 80px;
  overflow: scroll;
  display: none;
}

.listTableHire {
  color: white;
  font-size: 20px;
  text-align: center;
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  border-spacing: 10px;
}


.HeadListHire {
  background: rgba(10, 132, 148, 0.5);
}

.UserListHire {
  font-size: 28px;
}

.listTableHire td {
    padding: 15px;
    border-bottom: 2px solid rgba(142, 139, 139, 0.5);
}

.UserListHire:hover {
  scale: 1.02;
  transition: all 200ms ease-in-out;
  background: rgba(49, 49, 49, 0.5);
}

.hireB {
  text-shadow: #000000 1px 0 10px;
}

.hireB:hover {
  cursor: pointer;
  color: #00eaff;
  transition: all 200ms ease-in-out;
  scale: 1.01;
  text-shadow: #00eaff 1px 0 10px;
}

.hireB:active {
  scale: 1;
  text-shadow: none;
}

.hiresubtitle {
  color: white;
  margin-bottom: 10px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.hstext {
  text-shadow: #767676 1px 0 10px;
}

.hstextB {
  background: green;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  text-shadow: #000000 1px 0 10px;
}

.hstextB:hover {
  cursor: pointer;
  color: #26ff00;
  transition: all 200ms ease-in-out;
  scale: 1.01;
  text-shadow: #26ff00 1px 0 10px;
}

.hstextB:active {
  scale: 1;
  text-shadow: none;
}

.promotelist {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: auto;
  background: #2e2e2e;
  border-radius: 5px;
  font-family: sans-serif;
  font-weight: bold;
  display: none;
  
}

.promotelisttext {
  width: auto;
  height: 20px;
  border-bottom: 2px solid gray;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  white-space: nowrap;
}

.labelscontainer {
  width: auto;
  height: 210px;
  margin-top: 10px;
  overflow: scroll;
}

.label {
  color: #2e2e2e;
  text-align: center;
  background: gray;
  padding: 5px;
  margin-bottom: 10px;
  font-size: larger;
  margin: 5px;
  min-width: 200px;
}

.label:hover {
  cursor: pointer;
  color: #ffffff;
  transition: all 200ms ease-in-out;
  scale: 1.01;
  text-shadow: #ffffff 1px 0 10px;
  background: #5b5b5b;
}

.label:active {
  scale: 1;
  text-shadow: none;
}

.promoteBclose {
  color: white;
  width: auto;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.promoteBclose:hover {
  cursor: pointer;
  color: #ffffff;
  transition: all 200ms ease-in-out;
  scale: 1.01;
  text-shadow: #ffffff 1px 0 10px;
  background: rgb(255, 81, 81);
}

.promoteBclose:active {
  scale: 1;
  text-shadow: none;
}

.isboss {
  color: rgb(255, 255, 0);
  text-shadow: rgb(255, 255, 0) 1px 0 10px;
}

.societycontainer {
  width: 350px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #2e2e2e;
  border-radius: 15px;
  font-family: sans-serif;
  font-weight: bold;
  display: none;
}

.societymoneyNumber {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 30px;
  transition: all 200ms ease-in-out;
}

.societyButtons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
  font-size: 25px;
  color: white;
  text-shadow: #000000 1px 0 10px;
}

.withdrawB:hover {
  cursor: pointer;
color: #ff0000;
  transition: all 200ms ease-in-out;
  scale: 1.01;
  text-shadow: #ff0000 1px 0 10px;
}

.withdrawB:active {
  scale: 1;
  text-shadow: none;
}

.depositB:hover {
  cursor: pointer;
color: #00ff0d;
  transition: all 200ms ease-in-out;
  scale: 1.01;
  text-shadow: #00ff0d 1px 0 10px;
}

.depositB:active {
  scale: 1;
  text-shadow: none;
}

.societyNumber {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin: 10px;
  font-size: 20px;
}

.societycontainer input {
  width: 80%;
  height: 30px;
  background: transparent;
  border: none;
  border-radius: 5px;
  font-size: larger;
  font-weight: bold;
  border: 2px solid white;
  margin-top: 2px;
  color: white;
  text-align: center;
}

.societycontainer input[type="number"]:focus, .societycontainer input:not(:placeholder-shown) {
  outline: none;

  }

  .societycontainer input[type="number"]:not(:focus) {
      transition: all 500ms ease-in-out;
      }

.societycontainer input[type="number"]::-webkit-inner-spin-button, 
.societycontainer input[type="number"]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
margin: 0; 
}

.societyButtons2 {
display: flex;
justify-content: space-evenly;
align-items: center;
margin: 15px;
font-size: 25px;
color: white;
}

.societyAccept {
background: green;
padding: 5px;
border-radius: 10px;
}

.societyClose {
background: red;
padding: 5px;
border-radius: 10px;
}

.societyClose:hover {
cursor: pointer;
color: #ffffff;
transition: all 200ms ease-in-out;
scale: 1.01;
text-shadow: #ffffff 1px 0 10px;
background: rgb(255, 81, 81);
}

.societyClose:active {
scale: 1;
text-shadow: none;
}